
<ion-header [translucent]="true">
  <ion-toolbar >
    <div class="imgHeader">
      <img  [src]="imgHeader">
    </div>

    <div class="imgDiag">
      <img  [src]="imgDiagonal">
    </div>
  </ion-toolbar>

</ion-header>
