
ion-header,
ion-toolbar {
  width: 100%;
  height: 100px;
}

ion-toolbar{
  display: -webkit-box;
}
ion-toolbar{
  //--background: linear-gradient(0deg, var(--ion-item-background), var(--ion-background-color, #5fbae3));
  border-bottom: 3px solid #0E2D6D; /* Cambia el grosor y el color del borde según tus preferencias */

  --background: linear-gradient(0deg, #5fb9e1, #5ec6ee);
}
.imgHeader{
  margin-top: 6%;
}
.imgDiag{
  width: 35%;
  margin-left: 7%;
  margin-top: 4%;
  margin-bottom: 2%;
}
