
<app-navigation-header [title]="'Noticias'" [backgroundColor]="'tertiary'" [imgHeader]="images" ></app-navigation-header>

<ion-content [fullscreen]="true" >
  <div class="date">
    <p><ion-icon [src]="calendarIcon"></ion-icon>fdsfdsfdsfdsfdsf</p>
  </div>

  <ion-card (click)="goToDetail('1')">
    <ion-card-header>
      <ion-card-subtitle><b>Card Subtitle</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <div class="date">
    <p>fdsfdsfdsfdsfdsf</p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <div class="date">
    <p>fdsfdsfdsfdsfdsf</p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <div class="date">
    <p>fdsfdsfdsfdsfdsf</p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <div class="date">
    <p>fdsfdsfdsfdsfdsf</p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <div class="date">
    <p>fdsfdsfdsfdsfdsf</p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
