ion-card {
  //--background: rgba(0, 0, 0, 0.87);
  margin-top: 1px;
  margin-bottom: 1px;
  --color: #000000DD;
}

ion-card-title {
  --color: #000000DD;
}

ion-card-subtitle {
  --color: #000000DD;
}
.ion-page {
  background-color: transparent;
}
.background-content {
  display: none;
}
ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, rgba(231, 230, 230, 0.93)));
}
ion-card-header{
  padding-bottom: 10px;
}
.date{
  margin-top: 3%;
  margin: 3px;
  ion-icon{
    margin-right: 2%;
  }
  p{
    text-transform: uppercase;
    color:#999999;
    margin-bottom: 2px;
    margin-left: 4%;
  }
}

