ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #666666));
}
.customer {
  background-color: transparent!important;
  --background: var(--ion-item-background, var(--ion-background-color, #666666));
}

ion-label{
  color: white;
}
p{
  color: white;
}
ion-toggle{
  color: white;
}
ion-item {
  --background: var(--ion-item-background, var(--ion-background-color, transparent));
}


.ds {

  --background: var(--ion-item-background, var(--ion-background-color, #2da1d7));
  --background: var(--ion-item-background, var(--ion-background-color, #0e2d6d));
  --background: var(--ion-item-background, var(--ion-background-color, #eeeeee));
  --background: var(--ion-item-background, var(--ion-background-color, #666666));
  --background: var(--ion-item-background, var(--ion-background-color, #02000000));
  --background: var(--ion-item-background, var(--ion-background-color, #05000000));
  --background: var(--ion-item-background, var(--ion-background-color, #10000000));
  --background: var(--ion-item-background, var(--ion-background-color, #ffffff));
  --background: var(--ion-item-background, var(--ion-background-color, #10000000));
  --background: var(--ion-item-background, var(--ion-background-color, #05000000));
  --background: var(--ion-item-background, var(--ion-background-color, #88ffffff));
  --background: var(--ion-item-background, var(--ion-background-color, #44ffffff));
  --background: var(--ion-item-background, var(--ion-background-color, #e6f0f6));
}
