<app-navigation-header [title]="'Mis canales'" [backgroundColor]="'success'"></app-navigation-header>

<ion-content class="ion-no-padding ">
  <ion-list class="customer ion-no-padding">
    <ion-item class="customer ">
      <ion-label class="ion-text-wrap customer" >
        <ion-toggle justify="space-between">Académicas</ion-toggle>
        <p>Fecha de examenes, noticias de alumnnado</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
      <ion-toggle justify="space-between">Ciencia y tecnología</ion-toggle>
        <p>Convocatorias, congresos, seminarios</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
      <ion-toggle justify="space-between">Estudiantiles</ion-toggle>
      <p>Fecha de examenes, noticias de alumnnado</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
      <ion-toggle justify="space-between">Extensión</ion-toggle>
      <p>Fecha de examenes, noticias de alumnnado</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
      <ion-toggle justify="space-between">Graduados</ion-toggle>
      <p>Fecha de examenes, noticias de alumnnado</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
