
<app-navigation-header [title]="'Eventos'" [backgroundColor]="'secondary'" [imgHeader]="images" ></app-navigation-header>
<ion-content [fullscreen]="true" >
  <app-card-event></app-card-event>
</ion-content>
<!--<ion-content [fullscreen]="true">-->
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">event-main</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
<!--</ion-content>-->
