<div class="date">
  <p>
    <ion-icon [src]="calendarIcon"></ion-icon>25/08/2018 - 26/08/2018
    <b><ion-icon class="gpsIcon" [src]="gpsIcon"></ion-icon>UTN RAFAELA</b>
  </p>
</div>
<ion-card>
  <ion-card-content  class="card-conten">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"
     />
    <div style="flex: 1;">
      <ion-card-header>
        <ion-card-title><b>Jóvenes Investigadores Tecnológicos</b></ion-card-title>
        <ion-card-subtitle><b>2018 - Rafaela</b></ion-card-subtitle>
      </ion-card-header>
    </div>
  </ion-card-content>
</ion-card>
