.gpsIcon{
  margin-left: 4%;
}
.card-conten{
  img{
    max-width:48%;
    flex: 1;
  }
  -webkit-padding-end: 16px;
  padding: 0px;
  line-height: 1.5;
  display: flex;
  align-items: stretch;
  font-size: 16px;
  ion-card-header{
    padding-top: 5px;
    padding-bottom: 5px;
    ion-card-title{
      font-size: 16px;
    } ion-card-subtitle{
        font-size: 14px;
      }
  }

}
.date{
  font-size: 12px;
  margin: 3px;
  ion-icon{
    margin-right: 2%;
  }
  p{
    text-transform: uppercase;
    color:#999999;
    margin-bottom: 2px;
    margin-left: 4%;
  }
}
