<ion-header [translucent]="true" >
  <ion-toolbar [color]="backgroundColor">
    <ion-title class="ion-text-left">{{title}}</ion-title>
    <ion-img slot="end" class="navigate-img-header" [src]="imgHeader" ></ion-img>
  </ion-toolbar>
</ion-header>



