ion-toolbar {

  background: #FF5419!important;
  display: flex;
.navigate-img-header{
  height: 60px;
}
}
.header-news{
  background-color: #FF5419!important;
  background: #FF5419!important;

}
/* styles.css o tu archivo de estilos */

.header-event{
  background-color: #3498db; /* Color para otra pantalla */
}
.toolbar-background{
  background-color: #FF5419!important;
  background: #FF5419!important;
}
