hr{
  border-top: 1px solid #e6e6e6;
}
ion-title {
  position: static;
}
//.date{
//  ion-icon{
//    margin-right: 1%;
//  }
//}
.date{
  margin-top: 3%;
  margin: 3px;
  ion-icon{
    margin-right: 2%;
  }
  p{
    text-transform: uppercase;
    color:#999999;
    margin-bottom: 2px;
    margin-left: 4%;
  }
}
