<app-navigation-header [title]="'Noticias'" [backgroundColor]="'tertiary'"  ></app-navigation-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding ">
    <ion-text >Alumnos de la facultad ganaron un certamen de ingeniería</ion-text>
    <hr>
    <div class="date">
      <p><ion-icon [src]="calendarIcon"></ion-icon>fdsfdsfdsfdsfdsf</p>
    </div>
  </div>


  Imagen
  <div class="ion-padding">
    <ion-text>fdsfdsfdsfds</ion-text>
  </div>
</ion-content>
