<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="customer-footer">
      <div class="customer-footer">
        <div ><img src="assets/icon/facebook.svg"></div>
        <div ><img src="assets/icon/twitter.svg"></div>
        <div ><img src="assets/icon/web.svg"></div>
      </div>
      <div><img src="assets/icon/acercade.svg"></div>
    </div>

  </ion-toolbar>
</ion-footer>
