.customer-footer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  //.redes{
  //  margin-left: 5%;
  //}
  img{
    height: 50px;
  }
}

ion-toolbar{

  --background: var(--ion-item-background, var(--ion-background-color, #afd7ec));

}
