
<app-header [title]="'Home'"></app-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">home</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
</ion-content>
