<app-header  [imgHeader]="urlImgHeader" [imgDiagonal]="imgDiagonal" ></app-header>

<ion-content class="ion-padding">
  <div *ngFor="let item of itemMenu">
    <app-item-menu [title]="item.title" [detail] = "item.detail"  [img]="item.urlImg"(click)="goToNavigate(item)"></app-item-menu>
  </div>

</ion-content>
<app-footer></app-footer>

