.item-shell{
  --ion-item-background: #d7ecf6;
  margin-bottom: 5%;
  ion-label{
    color: white;
    text-transform: uppercase;
  }
  p{
    color: white;
    text-transform: uppercase;
  }

}

ion-content{
  //--background: var(--ion-item-background, var(--ion-background-color, rgba(45, 161, 215, 0.32)));
  //--background: var(--ion-item-background, var(--ion-background-color, #88ffffff));
  --background: var(--ion-item-background, var(--ion-background-color, #afd7ec));
}
