.item-shell{
  border-radius: 5px;
  --ion-item-background: #d7ecf6;
  //--ion-item-background: linear-gradient(45deg, #B1CCE2, #AFDDF2);
  margin-bottom: 5%;
  ion-label{
    color: #0d2d6d;
    text-transform: uppercase;
    h3{font-weight: bold;}
  }
  p{
    color: #000001;
    text-transform: uppercase;
  }

}


ion-avatar{
  height: 50px;
  width: 50px;
  --border-radius: 100%;
  border: 1px solid #c4c4c4 !important;
  background: #FFFFFF!important;
  display: flex;
  justify-content: center;
  ion-icon{
    width: 25px;
    height: 25px;
    margin-top: 13px;
  }
  img{
    background-size: 50%;
  }
}
