<ion-item lines="none" class="item-shell" button (click)="goItem()">
  <ion-avatar slot="end" class="avatar">
    <img  [src]="img">
  </ion-avatar>
  <ion-label>
    <h3>{{title}}</h3>
    <p>{{detail}}</p>
  </ion-label>
</ion-item>
